.nav_tab {
    display: flex;
    flex-direction: column-reverse;
}
.logo {
    display: flex;
    justify-content: center;
    padding-top:3%;
}
.logo img{
    width: 30%;
    margin: 0;   
}
nav{ 
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
    border-bottom: 5px solid #f2f2f2;
}